


/* !PRINCIPAL */
#pantalla__contenido{
    /* background-color: rgba(127, 255, 212, 0.479); */
    min-height: 100vh;
    max-width: 100%;
    padding: 2%;
    display: grid;
    text-align: center;
    
    grid-template-columns: repeat(auto-fit,minmax(min(100%,15rem),1fr));
    justify-content: center;
}
.pantalla__secciones{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    justify-content: center;
}
/* !primera sección */
#primerSeccion{
    margin: auto;
    justify-content: center;
    align-items: center;
    
}

#imgLogo{
    width: 50%;
}
/* !segunda sección */
#segundaSeccion{
    margin: auto;
}

#titulo,#subtitulo{
    margin: 2% 0;
    font-size: 2.7rem;
    color: #fff;
    text-shadow: 0 0 10px yellow;
}

#subtitulo{
    font-size: 1.5rem;
}

#informacion{
    margin-top: 2%;
    background-color: #ffffffb4;
    padding: 5%;
    /* border-radius: 2%; */
    font-size: 1.1rem;
    font-weight: 500;
}

/* !FUNCIONALIDADES */
#pantalla__funcionalidades{
    max-width: 100%;
    min-height: 100vh;
    max-height: max-content;
    text-align: center;
}

.funcionalidades__secciones{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 5%;
    
    
}
#funcionalidades__contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,15rem),1fr));
    justify-content: center;
    text-align: center;
    width: 100%;
}

.secciones__imagen{
    width: 100%;
    background-color: #fff;
    height: 100%;
    object-fit: contain;
}
.secciones__info{
    background-color: #fff;
    padding: 5%;
    max-width: 100%;
    max-height: max-content;
}

/* !CAPTURAS DE PANTALLA */
#pantalla__muestra{
    max-width: 100%;
    min-height: 100vh;
    max-height: max-content;
    text-align: center;
    padding: 5%;
}
#muestra__imagenes{
    display: grid;
    min-height: 50vh;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,15rem),1fr));
}

#muestra__imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.subtitulos{
    padding: 5%;
    font-size: 1rem;
    color: #fff;
    text-shadow: 0 0 10px #000;
}
#muestra__info{
    background-color: #fff;
    margin: 5%;
    padding: 2%;
    border-radius: 50px;
}